footer {
  background-color: var(--dark-gray);
  color: var(--white);
  text-align: center;
  align-items: center;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  footer {
    padding: 15px 0;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  footer {
    padding: 18px 0;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  footer {
    padding: 20px 0;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  footer {
    padding: 22px 0;
  }

  footer p {
    margin: 0.5em 0;
  }

  .fa-github,
  .fa-linkedin,
  .fa-twitter {
    font-size: 0.7em;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  footer {
    padding: 20px 0;
  }

  footer p {
    margin: 0.5em 0;
  }

  .fa-github,
  .fa-linkedin,
  .fa-twitter {
    font-size: 0.8em;
  }
}
