:root {
  --dark-gray: #222222;
  --gold: #c2a14e;
  --white: #ffffff;
  --light-gray: #333333;
  --header-height: 60px;
}

html {
  scroll-behavior: smooth;
}

body {
  background: url("../../public/assets/bgs/3d-black-wallpaper-background-design.jpg")
  no-repeat center center fixed;
  background-size: cover;
  color: var(--white);
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding-top: var(--header-height);
  padding-bottom: 130px;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.05);
  z-index: -1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  color: var(--gold);
}

h3 {
  font-size: 1.8em;
  color: var(--gold);
}

/* Paragraphs */
p {
  font-size: 1.1em;
  line-height: 1.8;
  color: var(--white);
}

/* Links */
a {
  font-size: 1.1em;
  font-weight: bold;
  color: var(--gold);
}

a:hover {
  text-decoration: underline;
  color: var(--white);
}

.logo a {
  font-size: 1.5em;
  color: var(--gold);
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.nav {
  background-color: var(--dark-gray);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 10px 0;
  margin: 0;
  background-color: var(--dark-gray);
}

.nav ul li {
  margin: 0 20px;
}

.nav ul li a {
  color: var(--white);
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  padding: 10px;
  transition: color 0.3s, background-color 0.3s, border-radius 0.3s;
}

.nav ul li a:hover {
  color: var(--gold);
  background-color: var(--light-gray);
  border-radius: 5px;
}

.social-media a {
  margin: 0 10px;
  color: var(--white);
  font-size: 1.5em;
  transition: color 0.3s;
}

.social-media a:hover {
  color: var(--gold);
}

.section {
  padding: 100px 20px;
  text-align: center;
  background: transparent;
  position: relative;
  animation: fadeIn 1s ease-in-out;
}

.section:nth-child(even) {
  background: transparent;
}

.section:nth-child(odd) {
  background: transparent;
}

.section-title {
  font-size: 3em;
  margin-bottom: 20px;
  color: var(--gold);
}

.skills-list,
.projects-list,
.testimonials-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill,
.project,
.testimonial {
  margin: 20px;
  padding: 20px;
  border: 1px solid var(--gold);
  border-radius: 5px;
  background-color: var(--light-gray);
  color: var(--white);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.skill-card,
.project-card,
.testimonial-card {
  transition: transform 0.3s, box-shadow 0.3s;
  animation: fadeIn 1.5s ease-in-out;
}

.skill-card:hover,
.project-card:hover,
.testimonial-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.contact-section,
.experience-section,
.skills-section,
.projects-section,
.testimonials-section {
  position: relative;
  padding: 60px 20px;
  transition: background 0.5s ease-in-out;
  text-align: center;
}

.contact-card,
.contact-info,
.experience-card,
.skills-card,
.projects-card,
.testimonials-card {
  position: relative;
  z-index: 1;
}

#experience,
#projects,
#skills,
#testimonials,
#contact {
  background: transparent;
  padding: 60px 20px;
}

@keyframes movePattern {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(0, 0);
  }
}

/* Adding basic fade-in animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.section {
  animation: fadeIn 1s ease-in;
}

nav ul li a:hover {
  color: var(--gold);
  transition: color 0.3s;
}

.skill,
.testimonial {
  width: 100%;
  max-width: 300px;
}

@keyframes slideInDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Light Theme Styles */
body.light-theme {
  --dark-gray: #ffffff;
  --light-gray: #f1f1f1;
  --white: #000000;
  --gold: #ffd700;
}

body.light-theme {
  background-color: var(--dark-gray);
  color: var(--white);
}

body.light-theme header,
body.light-theme footer {
  background-color: var(--light-gray);
}

body.light-theme .hero-section {
  color: var(--white);
}

body.light-theme .hero-button {
  background-color: var(--gold);
  color: var(--dark-gray);
}

body.light-theme .hero-button:hover {
  background-color: var(--white);
  color: var(--gold);
}

body.light-theme header,
body.light-theme footer,
body.light-theme .hero-section,
body.light-theme .skills-list,
body.light-theme .projects-list,
body.light-theme .testimonials-list,
body.light-theme .skill,
body.light-theme .project,
body.light-theme .testimonial,
body.light-theme .hero-button {
  background-color: var(--light-gray);
  color: var(--white);
  border: 1px solid var(--gold);
}

/* Scroll button */
.scroll-to-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--gold);
  color: var(--dark-gray);
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 1.5em;
  cursor: pointer;
  display: none;
  transition: background-color 0.3s, transform 0.3s;
  z-index: 1000;
}

.scroll-to-top-btn:hover {
  background-color: var(--white);
  color: var(--gold);
  transform: translateY(-5px);
}

.skill-card,
.project-card,
.testimonial-card {
  animation: fadeIn 1.5s ease-in-out;
}

/* Adding bounce animation */
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .skills-list,
  .projects-list,
  .testimonials-list {
    flex-direction: column;
    align-items: center;
  }

  nav ul {
    flex-direction: column;
    padding: 20px 0;
  }

  nav ul li {
    margin: 10px 0;
  }

  .hero-content h1 {
    font-size: 3em;
  }

  .hero-content p {
    font-size: 1.2em;
  }

  .hero-button {
    font-size: 1em;
  }

  .skill-card,
  .project-card,
  .testimonial-card {
    width: 90%;
  }
}
