@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

header {
  background-color: var(--dark-gray);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

header .logo a {
  font-family: "Dancing Script", cursive;
  font-weight: bold;
  color: var(--gold);
  font-size: 4em;
  text-decoration: none;
}

header nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

header nav ul li {
  margin: 0 20px;
}

header nav ul li a {
  color: var(--white);
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  padding: 10px;
  transition: color 0.3s, background-color 0.3s, border-radius 0.3s;
}

header nav ul li a:hover {
  color: var(--gold);
  background-color: var(--light-gray);
  border-radius: 5px;
}

.theme-toggle {
  display: flex;
  align-items: center;
}

#theme-toggle {
  display: none;
}

.toggle-label {
  cursor: pointer;
  padding: 10px 20px;
  background-color: var(--light-gray);
  color: var(--white);
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-label .fas {
  font-size: 1.5rem;
}

#theme-toggle:checked + .toggle-label {
  background-color: var(--gold);
  color: var(--dark-gray);
}