/* Testimonials */
.testimonials-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.testimonial-photo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.testimonial-card {
  background-color: var(--light-gray);
  border: 1px solid var(--gold);
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  width: 300px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.testimonial-card img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.testimonial-card p {
  font-size: 1.1em;
  color: var(--white);
}

.testimonial-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

#testimonials {
  background: linear-gradient(to bottom, var(--light-gray), var(--dark-gray));
}