.testimonials-section {
  background: linear-gradient(to bottom, var(--light-gray), var(--dark-gray));
  background: transparent;
  padding: 50px 0;
  text-align: center;
}

.section-title {
  text-align: center;
  color: var(--gold);
  font-size: 2.5em;
  margin-bottom: 30px;
}

.testimonial-card {
  background-color: var(--dark-gray);
  border: 1px solid var(--gold);
  border-radius: 10px;
  padding: 30px;
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
  position: relative;
  box-sizing: border-box;
}

.testimonial-photo {
  display: block;
  margin: 0 auto 20px auto;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.testimonial-text {
  font-size: 1.3em;
  color: var(--white);
  margin-bottom: 20px;
  padding: 0 20px;
}

.client-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.client-name {
  font-size: 1.2em;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.client-name svg {
  margin-left: 5px;
  vertical-align: middle;
}

.client-title {
  font-size: 1em;
  color: var(--white);
  margin-top: 5px;
}

.slick-dots {
  bottom: -25px;
  width: 100%;
  display: flex !important;
  justify-content: center;
  padding: 10px 0;
}

.slick-dots li {
  margin: 0 5px; /* Add margin between dots */
}

.slick-dots li button:before {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
  transition: color 0.3s ease; /* Smooth transition for color change */
}

.slick-dots li.slick-active button:before {
  color: var(--gold);
}

.slick-list {
  padding-bottom: 20px !important;
}

.custom-arrow {
  font-size: 24px;
  z-index: 2;
  color: var(--gold);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.custom-prev {
  left: 10px;
}

.custom-next {
  right: 10px;
}
